<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.avatar + ')'">
  </div> -->
  <div class="item-detail">
    <ion-list class="items-list">
      <ion-item-divider class="items-list-header">
        <ion-avatar item-start>
          <img [src]="item.avatar | avatar" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.phone}}</p>
        <ion-note item-end *ngIf="item.created">{{item.created.toDate() | date: 'shortDate'}}</ion-note>
      </ion-item-divider>
      <ion-item>
        <ion-icon name="phone-portrait" icon item-start color="secondary"></ion-icon>
        <h2>{{'ITEM_PHONE_PLACEHOLDER' | translate}}</h2>
        <h2>{{item.phone}}</h2>
        <ion-icon name="call" icon item-end color="primary" (click)="call()"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-icon [hidden]="!relevant" name="checkmark" icon item-start color="success"></ion-icon>
        <ion-label [hidden]="!relevant">{{'LEAD_RELEVANCE_STATUS_YES' | translate }}</ion-label>
        <ion-icon [hidden]="relevant" name="close" icon item-start color="danger"></ion-icon>
        <ion-label [hidden]="relevant">{{'LEAD_RELEVANCE_STATUS_NO' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="relevant" (ionChange)="relevantChanged($event)"></ion-toggle>
      </ion-item>
      <ion-item *ngFor="let prop of properties">
        <ion-icon [name]="prop.icon" icon item-start color="secondary"></ion-icon>
        <h2>{{prop.title}}</h2>
        <h2>{{prop.value}}</h2>
      </ion-item>     
    </ion-list>
    <ion-list class="items-list">
      <ion-list-header>
        {{ 'COMMENTS' | translate}}
      </ion-list-header>
    </ion-list>
    <ion-item *ngFor="let comment of item.comments">
      <ion-icon name="clipboard" icon item-start color="dark"></ion-icon>
      <h2>{{comment.text}}</h2>
      <!-- //todo: design better comment -->
    </ion-item>  
    <ion-item (click)="addNote()">
      <ion-icon name="add-circle-outline" icon item-start color="primary"></ion-icon>
      <h2>{{'ADD_COMMENT_ACTION' | translate}}</h2>            
    </ion-item>
  </div>
  <ion-fab bottom left>
    <button ion-fab (click)="sendMessage()">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-fab>
</ion-content>