<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <div class="item-profile" text-center #profilePic [style.background-image]="'url(' + item.avatar + ')'">
  </div> -->
  <div class="item-detail">
    <ion-list class="items-list">
      <ion-item-divider class="items-list-header">
        <ion-avatar item-start>
          <img [src]="item.avatar | avatar" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.phone}}</p>
        <ion-note item-end *ngIf="item.created">{{item.created.toDate() | date: 'shortDate'}}</ion-note>
      </ion-item-divider>
      <ion-item>
        <ion-icon name="checkmark" icon item-start color="primary" [hidden]="!relevant" color="success"></ion-icon>
        <ion-label [hidden]="!relevant">{{'LEAD_RELEVANCE_STATUS_YES' | translate }}</ion-label>
        <ion-icon name="close" icon item-start color="primary" [hidden]="relevant" color="danger"></ion-icon>
        <ion-label [hidden]="relevant">{{'LEAD_RELEVANCE_STATUS_NO' | translate }}</ion-label>
        <ion-toggle [(ngModel)]="relevant"></ion-toggle>
      </ion-item>
      <ion-item *ngFor="let prop of properties">
        <ion-icon [name]="prop.icon" icon item-start color="secondary"></ion-icon>
        <h2>{{prop.title}}</h2>
        <h2>{{prop.value}}</h2>
      </ion-item>
    </ion-list>
  </div>
</ion-content>