<ion-header>
  <ion-navbar> <ion-title></ion-title> </ion-navbar>
</ion-header>

<ion-content padding no-bounce>
  <div class="fab-pad">
    <h3>{{ "FILTER_PAGEE_HEADER" | translate }}</h3>
    <ion-list>
      <div *ngFor="let filter of filters">
        <ion-list-header (click)="filterClick(filter)">
          <ion-icon [name]="filter.metadata.icon" item-start></ion-icon>
          <p>{{ filter.metadata.title }}</p>
          <ion-icon
            [name]="filter.selected ? 'arrow-down' : 'arrow-back'"
            item-end
          ></ion-icon>
          <p [hidden]="filter.selected || !getFilterValueString(filter)">
            {{ getFilterValueString(filter) }}
          </p>
        </ion-list-header>
        <ion-item [hidden]="!filter.selected">
          <ion-grid>
            <ion-row>
              <ion-col *ngFor="let option of filter.metadata.options" col-6>
                <button
                  block
                  ion-button
                  [outline]="!option.selected"
                  (click)="optionClick(filter, option)"
                >
                  {{ option.title }}
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>
  </div>
  <ion-fab bottom center>
    <button ion-fab (click)="done()">
      {{ "GENERAL_APPROVE" | translate }}
    </button>
  </ion-fab>
</ion-content>
