<ion-header>
  <ion-navbar>
    <ion-title></ion-title>
    <button ion-button menuToggle>
      <ion-icon ion-button name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content class="cover-bg">
  <!-- <ion-refresher  (ionRefresh)="updateLog($event)">
    <ion-refresher-content  refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher> -->
  <div class="logo-block"></div>  
  <div class="bg-color">
  <ion-list class="items-list">
    <ion-list-header (click)="updateLog()">
      {{ 'MAIN_LATEST_CALLS' | translate }}
      <ion-icon name="refresh" item-end></ion-icon>
    </ion-list-header>
    <ion-item *ngFor="let item of log" (click)="openItem(item)">
      <ion-avatar item-start>
        <img [src]="item.avatar | avatar" />
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.phone}}</p>
      <!-- <ion-note item-end *ngIf="item.created">{{item.created | date : 'shortDate'}}</ion-note> -->
    </ion-item>
  </ion-list>
  </div>
    <ion-fab bottom left>
    <button ion-fab (click)="openItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>