.bg-color {
  background-color: $background-color;
}

p.danger,
.danger {
  color: color($colors, danger);
}
p.light,
.light {
  color: color($colors, light);
}
.cover-bg {
  background-size: contain;
  background-color: color($colors, primary);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}
.cover-page {
  @extend .cover-bg;
}

.margin-top {
  margin-top: $content-margin;
}
.select-text {
  margin-left: $content-margin;
}

ion-list-header.list-header {
  margin-bottom: 0;
}

ion-chip {
  &.chip {
    margin-left: $content-margin/2;
  }
}

ion-radio {
  margin-left: $content-margin !important;
}

ion-list-header.list-header {
  text-align: right;
  border-top: none;
}

ion-list-header {
  h1,
  h2,
  p {
    text-align: initial;
  }
  &.no-margin {
    margin-bottom: 0;
  }
}
.title-note{
  float:left;
  line-height: 200%;
}

ion-list{
  &.no-lines{
    .item-inner{
      border-bottom: none !important;
    }
  }
}

.item-grid {
  ion-label.label {
    margin: 0;
  }
}
.pad-left-right {
  padding-left: $content-padding * 2;
  padding-right: $content-padding * 2;
}

.toolbar .toolbar-title {
  color: $toolbar-text-color !important;
}

ion-header::after {
  background-image: none !important;
}

.toolbar {
  .toolbar-background {
    @extend .cover-bg;
  }
  .toolbar-title {
    color: black;
  }
}

.box-shadow-effect {
  box-shadow: 0px 2px 1px rgb(247, 247, 247), 0 2px 4px #ccc;
}

.logo-block {
  background-image: url("../assets/img/keepi_logo-med.png");
  background-position: top;
  background-size: contain;
  height: $logo-md-height;
  background-repeat: no-repeat;
  margin-bottom: $content-margin * 1;
}

.logo-block-round {
  width: 50%;
  background-color: white;
  height: 100px;
  z-index: 100;
  position: absolute;
  left: $content-margin;
  border-radius: 0  0 $content-margin*8 $content-margin*8 ;
  padding:$content-margin;
}

.logo-block-round-inner {
  background-image: url("../assets/img/keepi_logo-med.png");
  background-position: center;
  background-size: contain;
  height:  $logo-md-height;
  width: 100%;
  background-repeat: no-repeat;
}


.header-icon{
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0; 
  height: 50px;
  width:60px;
  position: absolute;
  top:0;
  padding-top: $content-margin/2;
  left:$content-margin;
  background-color: white;
  border-radius: 0 0 $content-margin*2 $content-margin*2;
  box-shadow: 0 6px 6px -5px;
}

.header-icon-inner{
  background-image: url("../assets/img/keepi-face-sm.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0; 
  height: 35px;
  width:100%;
}

.border-radius-button {
  border-radius: 10px;
}

.light-label {
  color: darken(color($colors, light), 5%);
}

.login-box {
  padding: $content-margin * 2;
  margin-top: $logo-md-height;

  button {
    @extend .border-radius-button;
  }

  .item {
    background-color: transparent !important;
    color: color($colors, light);

    .label {
      @extend .light-label;
    }
  }

  .danger-note {
    color: color($colors, black);
    text-align: center;
    width: 100%;
  }
}

.login-box-buttons {
  text-align: center;
  background-color: transparent;
  color: color($colors, light);
  b {
    @extend .light-label;
  }
}

.transparent {
  background-color: transparent;
}

.danger-color {
  color: color($colors, danger);
}

.alert-button.danger-color {
  color: color($colors, danger) !important;
}

.list {
  .item,
  .item-inner {
    box-shadow: none !important;
    padding: 0;
  }
}

.fab-pad {
  padding: 0 !important;
  margin: 0 !important;
  height: 80px !important;
}

.items-list {
  margin-bottom: 0;
  ion-icon.icon {
    min-width: 24px;
    text-align: center;
  }
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: color($colors, success);
}

.inline-badge {
  margin: $content-margin/4;
  padding: $content-padding/2;
  white-space: normal;
  text-align: right;

  ion-icon {
    margin-right: $content-margin/2;
  }
}
