<ion-header>
  <ion-navbar>
    <ion-title> {{ item.name ? item.name : item.phone }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides pager="true" paginationType="progress" dir="{{ dir }}" (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of leadPropertiesMetadata; let i = index">
      <ion-content class="pad-left-right">
          <ion-icon [name]="slide.icon" class="slide-icon"></ion-icon>
          <h3 class="slide-title">{{ slide.title | translate }}</h3>
          <ion-buttons end *ngIf="slide.options?.length">
            <ion-grid>
              <ion-row>
                <ion-col col-6 *ngFor="let button of slide.options">
                  <button color="secondary" ion-button block (click)="answerButtonClick(slide, button, i)"
                    [color]="button.selected ? 'secondary' : 'primary'">
                    {{ button.title }}
                  </button>
                </ion-col>
              </ion-row>
              <ion-row [hidden]="slide.type !== leadPropertyType.StringMultivalue">
                <ion-item class="fab-pad"></ion-item> 
              </ion-row>
              <ion-row *ngIf="slide.id === 'rooms'" class="margin-top">
                <ion-col col-12>          
                  <button color="secondary" ion-button block (click)="addMetersSlide(i);" color="primary">
                    {{ 'METER_DATA_INPUT' | translate }}
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-buttons>
          <div *ngIf="slide.type === leadPropertyType.Budget && isSlideActive(slide)">
            <budget-slider [dealType]="dealType" [value]="this.resultLead.budget" 
            (valueChanged)="setBudget(slide, $event)" (customValueSelected)="goToSlide(i +1);"></budget-slider>
         </div>
        <ion-fab bottom center>
          <button ion-fab (click)="goToSlide(i + 1)" [hidden]="slide.type !== leadPropertyType.Budget">
            {{ "GENERAL_APPROVE" | translate }}
          </button>
          <button ion-fab (click)="goToSlide(i + 1)" [hidden]="slide.type !== leadPropertyType.StringMultivalue" >
            {{ "GENERAL_APPROVE" | translate }}
          </button>
        </ion-fab>
        <ion-fab bottom left *ngIf="slide.id == 'area'" >
          <button ion-fab (click)="addAreaModal()" color="secondary">
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-fab>
      </ion-content>
    </ion-slide>
    
    <ion-slide class="final-summary-slide">
      <ion-content>
        <div class="fab-pad">
          <ion-list class="items-list">
            <ion-list-header>
              {{ "DETAILS" | translate }}
            </ion-list-header>
            <ion-item>
              <ion-icon name="person-add" icon item-start color="primary"></ion-icon>
              <p>{{ item.name }}, {{ "INTERESTED_IN" | translate }} {{ item.type | leadType | translate }}</p>
            </ion-item>
            <ion-item>
              <ion-icon name="phone-portrait" icon item-start color="primary"></ion-icon>
              <p>{{ item.phone }}</p>
            </ion-item>
            <ion-list-header>
              {{ "PROPERTIES" | translate }}
            </ion-list-header>
            <ion-item *ngFor="let slide of leadPropertiesMetadata; let i = index" (click)="goToSlide(i)">
              <ion-icon [name]="slide.icon" icon item-start color="secondary"></ion-icon>
              <h2>{{ slide.title }}</h2>
              <span>{{ getSlideValueString(slide) }}</span>
            </ion-item>
          </ion-list>
        </div>
        <ion-fab bottom center>
          <button ion-fab (click)="submitSummary()">
            {{ "GENERAL_APPROVE" | translate }}
          </button>
        </ion-fab>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>