<ion-header>
  <ion-navbar>
    <ion-title> {{ item.name ? item.name : item.phone }} </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides
    pager="true"
    paginationType="progress"
    dir="{{ dir }}"
    (ionSlideWillChange)="onSlideChangeStart($event)">
    <ion-slide *ngFor="let slide of leadPropertiesMetadata; let i = index">
      <ion-content class="pad-left-right">
        <div class="fab-pad">
          <ion-icon [name]="slide.icon" class="slide-icon"></ion-icon>
          <h3 class="slide-title">{{ slide.title | translate }}</h3>
          <ion-buttons end *ngIf="slide.options?.length">
            <ion-grid>
              <ion-row>
                <ion-col col-6 *ngFor="let button of slide.options">
                  <button
                    color="secondary"
                    ion-button
                    block
                    (click)="answerButtonClick(slide, button, i)"
                    [color]="button.selected ? 'secondary' : 'primary'">
                    {{ button.title }}
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-buttons>
          <div *ngIf="slide.type === leadPropertyType.Budget && isSlideActive(slide)">
            <budget-slider 
            [dealType]="dealType" 
            [value]="this.resultLead.budget" 
            (valueChanged)="setBudget(slide, $event)"></budget-slider>
          </div>
        </div>
        <ion-fab bottom center>
          <button
            ion-fab
            (click)="goToSlide(i + 1)"
            [hidden]="slide.type !== leadPropertyType.Budget">
            {{ "GENERAL_APPROVE" | translate }}
          </button>
          <button
            ion-fab
            (click)="goToSlide(i + 1)"
            [hidden]="slide.type !== leadPropertyType.StringMultivalue">
            {{ "GENERAL_APPROVE" | translate }}
          </button>
        </ion-fab>
      </ion-content>
    </ion-slide>
    <ion-slide class="final-summary-slide">
      <ion-content>
        <div class="fab-pad">
          <ion-list class="items-list">
            <ion-list-header>
              <ion-avatar item-start>
                <img [src]="item.avatar | avatar" />
              </ion-avatar>
              <h2>{{ item.name }}</h2>
              <p>{{ item.phone }}</p>
            </ion-list-header>
            <ion-item
              *ngFor="let slide of leadPropertiesMetadata; let i = index"
              (click)="goToSlide(i)"
            >
              <ion-icon
                [name]="slide.icon"
                icon
                item-start
                color="secondary"
              ></ion-icon>
              <h2>{{ slide.title }}</h2>
              <span>{{ getSlideValueString(slide) }}</span>
            </ion-item>
          </ion-list>
        </div>
        <ion-fab bottom center>
          <button ion-fab (click)="submitSummary()">
            {{ "GENERAL_APPROVE" | translate }}
          </button>
        </ion-fab>
      </ion-content>
    </ion-slide>
  </ion-slides>
</ion-content>
