<ion-header>
  <ion-navbar>
    <!-- <ion-title>{{ 'LEADS_PAGE_TITLE' | translate }}</ion-title> -->
    <ion-buttons end>
      <button ion-button item-start icon-start (click)="cleanFilters()" [hidden]="!activeFilters">
        {{"LEADS_CLEAR_FILTERS" | translate}}
        <ion-icon name="close"></ion-icon>
      </button>
      <button ion-button clear item-start icon-start (click)="filterLeadsClick()" [hidden]="activeFilters">
        {{ "GENERAL_FILTER" | translate }}
        <ion-icon name="funnel"></ion-icon>
      </button>
    </ion-buttons>

    <button ion-button menuToggle large>
      <ion-icon ion-button name="menu">
      </ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <lead-type-select [value]="selectedLeadType" label="LEAD_TYPE_SELECTION" (valueChanged)="leadTypeChanged($event)">
  </lead-type-select>
  <ion-list  [hidden]="filterSearchRunning">
    <div class="filtered-list-header" [hidden]="!activeFilters">
      <filtered-by [filters]="activeFilters"></filtered-by>
    </div>

    <range-budget-slider *ngIf="showBudgetSlider" [value]="budgetValue" [minMaxValues]="budgetMinMaxValues"
      [dealType]="selectedDealType" (valueChanged)="budgetChanged($event)">
    </range-budget-slider>

    <leads-list [hidden]="activeFilters" [leads]="leads" (itemClicked)="itemClicked($event)"></leads-list>
    <ion-list-header *ngIf="!leadsSearchResults || leadsSearchResults.length === 0">
      {{leadsFoundMessage}}
    </ion-list-header>
    <leads-list [hidden]="!activeFilters" [leads]="leadsSearchResults" (itemClicked)="itemClicked($event)"></leads-list>
  </ion-list>

  <ion-fab bottom left>
    <!-- <button ion-fab (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button> -->
    <button ion-fab (click)="sendMessage()">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-fab>
</ion-content>