<ion-label class="budget-value-label"> {{ value | numberFormat }} </ion-label>
<ion-range
  dualKnobs="false"
  [(ngModel)]="sliderValue"
  [max]="sliderMaxValue"
  [min]="sliderMinValue"
  step="1"
  color="secondary"
  (ionChange)="onSliderChange($event)"
>
  <!-- <ion-label range-left>{{ maxValue | numberFormat }}</ion-label> -->
</ion-range>
<ion-grid padding>
  <ion-row>
    <ion-col col-4 *ngFor="let item of presetBudgets">
      <button ion-button block text-center small (click)="setValue(item)" [color]="item===value ? 'secondary' : 'primary'">
        {{ item | numberFormat }}
      </button>
    </ion-col>
  </ion-row>
</ion-grid>
